/* Global Stuff */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    font-size: 20px;
    font-family: sans-serif;
    background-color: #FFFAF9;
}

/* Container Properties */
.container1{
    width: 100%;
    height: 35px;
    margin: 0px auto;
    padding: 20px;
    position: fixed;
    top: 0;
    background-color: #EDEDEF;
}

.container2{
    width: 70%;
    margin: 150px auto 10px auto;
    text-align: center;
    line-height: 50px;
}

.container3{
    width: 70%;
    margin: 10px auto;
    align-items: center;
    text-align: center;
}

.container4{
    margin: 0 auto;
    width: 70%;
    height: 400;
}

.container5{
    width: 50%;
    margin: 40px auto 40px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#list{
    width: 70%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    line-height: 40px;
}

.footer-container{
    margin: 70px auto 0 auto;
    width: 70%;
    height: 50px;
    background-color: #e8491d;
} 
/* -------------------------------------------------------- */


/* Element Properties */

.first-moto .first-header,
.second-moto .second-header,
.third-moto .third-header{
    background-color: lightgray;
    width: 100%;
    padding: 20px 0;
}

.first-moto,
.second-moto,
.third-moto{
    border: 1px solid lightgray;
    margin-left: 10px;
}

#list li,
.motorcycle li,
.footer-list li{
    list-style: none;
}

.middle{
    display: flex;
    margin: 70px;
}

#email{
    width: 30%;
    height: 30px;
    text-align: center;
}

#submit{
    font-size: 20px;
    background-color: #e8491d;
    width: 30.5%;
    margin-top: 5px;
    color: white;
}

#submit:hover,
#list button:hover{
    font-weight: bold;
    cursor: pointer;
}

.head-section{
    display: flex;
    justify-content: space-between;
}

#nav-bar li{
    display: inline;
    margin: 50px;
    color: black;
}

#nav-bar li a,
.footer-list a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

#nav-bar li a:hover{
    border-bottom: 2px solid black;
    color: #e8491d;
    font-weight: bold;
}

.head-section .logo{
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
}

.orange{
    color: #e8491d;
}

.first-moto p,
.second-moto p,
.third-moto p{
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}

#list button{
    width: 70%;
    font-size: 20px;
    height: 30px;
    margin:10px auto;
    text-align: center;
    background-color: #e8491d;
    color: white;
    border: none;
}

.footer-list li{
    float: right;
    margin: 0 10px 0 10px;
    font-size: 15px;
    font-weight: 600;
    padding-top: 17px;
}

#foot .copyright{
    font-size: 15px;
    padding-top: 17px;
}

.footer-list li a:hover{
    font-weight: bold;
    color: white;
}

@media(max-width: 915px){
    .container1{
        width: 100%;
        height: 100px;
        text-align: center; 
        margin-bottom: 50px;
    }
    #nav-bar ul{
        display: flex;
        width: 110%;

        margin-top: -20px;

    }
}

